<h1>Showcase Items</h1>

<% @showcase_items.each do |showcase_item| %>

    <p><%= showcase_item.title %></p>
    <p><%= showcase_item.subtitle %></p>
    <p><%= showcase_item.body %></p>
    <%= image_tag showcase_item.thumb_image unless showcase_item.thumb_image.nil? %>
    
<% end %>
